.topBanner {
	background-color: var(--dark);
	color: white;
	height: 3rem;
	padding: 0 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.topBanner a {
	text-decoration: none;
	font-weight: bold;
}

.buttonsContainer {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	position: relative;
}

.topBanner button {
	cursor: pointer;
}

.hamburgerBtn {
	display: grid;
	place-items: center;
	border: none;
	padding: 0;
	background-color: transparent;
}

.headerTitle {
	text-align: center;
	font-size: 1.55rem;
	margin: 1rem;
}

@media (min-width: 500px) {
	.headerTitle {
		font-size: 2.55rem;
	}
}

@media (min-width: 630px) {
	.headerTitle {
		font-size: 3.2rem;
	}
}

@media (min-width: 800px) {
	.topBanner .hamburgerBtn {
		display: none;
	}
	.headerTitle {
		font-size: 4rem;
	}
}

@media (min-width: 1200px) {
	.headerTitle {
		font-size: 6rem;
	}
}
