.topBanner {
  background-color: var(--dark);
  color: white;
  height: 3rem;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.topBanner a {
  text-decoration: none;
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
}

.topBanner button {

  cursor: pointer;
  color: #fff;
}

.hamburgerBtn {
  display: grid;
  place-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
}



.headerTitle {
  text-align: center;
  font-size: clamp(2rem, 5vw + 1rem, 10rem);
  margin: 0.5rem;
}





@media (min-width: 800px) {
  .topBanner .hamburgerBtn {
    display: none;
  }
}