.skipToMainContent {
  display: flex;
  justify-content: center;
}

.skipToMainContent a {
  position: absolute;
  color: var(--text);
	background-color: var(--bg);
  text-decoration: none;
  padding: 0.3rem;
  border: 1px solid var(--primary);
  z-index: 100;
  transform: translateY(-100px); 
  transition: all .4s ease-in-out;
}

.skipToMainContent a:focus {
  transform: translateY(8px);
}
