/* Styles for the button before being clicked */

.codeCopyBtn {
	color: white;
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.codeCopyBtn:hover {
	transform: scale(1.1);
	opacity: 0.9;
}

.codeCopyBtn:hover::after {
	content: "copy";
	display: flex;
	align-items: center;
	font-size: 0.5rem;
	opacity: 0.9;
}

.codeCopyBtn:focus::after {
	content: "copy";
	display: flex;
	align-items: center;
	font-size: 0.5rem;
	opacity: 0.9;
}

/* Styles for button after it has been clicked */
.codeCopied {
	color: white;
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.codeCopied::after {
	content: "copied";
	display: flex;
	align-items: center;
	font-size: 0.5rem;
	opacity: 0.9;
}
