.codeCopyBtn {
	color: var(--text);
	background-color: var(--lightGrey);
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: none;
	border-radius: 0.3rem;
	right: 5px;
	top: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.codeCopyBtn:hover {
	transform: scale(1.1);
	opacity: 0.9;
}

.faCopySymbol {
	color: var(--text);
}

.cpyText {
	font-size: 1rem;
}
