.layoutContainer {
  display: flex;
  min-height: calc(100vh - var(--headerHeight));
  margin-top: 3rem;
}

.layoutContainer main {
	padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}

@media (min-width: 800px) {
  .columnContainer {    
    flex-grow: 1; 
    margin-left: 15rem;  
  }
}