.layoutContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  border-top: 3px solid var(--primary);
}
@media only screen and (max-width: 400px) {
	.CodeBlockContainer {
		max-width: 280px;
	}
}