.breadcrumbsExample {
  background-color: var(--highlight);
}

.breadcrumbsExample ol {
	list-style: none;
	margin: 0;
	padding: 1rem;
  display: flex;
  gap: 0.5rem;
}

.breadcrumbsExample ol li {
  display: flex;
  gap: 0.5rem;
}

.breadcrumbsExample p { 
  margin: 0;
}