.footer {
    background-color: var(--dark);
    color: #fff;
    margin-top: 2rem;
    padding: 16px;
    padding-bottom: 8px;
  }
  
  .footerTop {
    border-bottom: 1px solid var(--lightGrey);
    padding-bottom: 20px;
  }
  
  .footerList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 ;
    padding: 0;
    list-style: none;
  }

 
  .footerLink,
  .footerLink:visited {
    text-decoration: none;
    font-size: 0.9rem;
    margin: 8px 0;
  }
  
  .footerLink:hover {
    color: var(--lightGrey) ;
  }
  
  .footerBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 16px 0 0 0;
  }
  
  .footerSocialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
  .footerSocialIcon:hover {
    color: var(--lightGrey);
  }
  
  .footerSocialIcon {
    font-size: 1.2rem;
    margin: 0 8px;
  }
  
  .footerCopyright {
    margin: 0;
    font-size: 0.9rem;
  }
  
  @media only screen and (min-width: 55rem) {
    .footerList {
      flex-direction: row;
      
    }
  
    .footerLink,
    .footerLink:visited {
      margin: 0 16px;
    }
  
    .footerBottom {
      flex-direction: column;
    }

    .footerSocialIcons {
    display: flex;
    }
  }