.navPrimary {
  display: none;
}

.navPrimaryMobile {
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  background-color: var(--bg);
  z-index: 1;
}

.navList {
  margin: 0;
  padding: 0;
  min-width: 15rem;
}

.navListItem {
  list-style: none;
  margin: 2px;
  margin-left: 10px;
}

.navListItem a {
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  border-radius: 5px;
}

.navListItem a:hover {
  background-color: var(--primaryLt);
}

.navList a:focus {
  background-color: var(--primary);
  color: var(--invertText);
}

@media (min-width: 40rem) {
  .navPrimary {
    width: 15rem;
    margin-left: 10px;
  }
}

@media (min-width: 800px) {
  .navPrimary {

    margin-top: 16px;
    display: block;
  }

  .navPrimaryMobile {
    display: none;
  }
}