.navPrimary {
  width: 100%;
  position: absolute;
  right: 0;
  top: 3rem;
  background-color: white;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navListItem a {
  text-decoration: none;
  padding: 16px;
  display: block;
}

.navListItem a:hover, .navListItem a:focus {
  background-color: var(--primaryLt);
}

@media (min-width: 40rem) {
 .navPrimary {
  width: 15rem;
 }
}

@media (min-width: 800px) {
  .navPrimary {
    position: relative;
    top: 0;
    margin-top: 16px;
  }
}