.navPrimary {
  display: none;
}

.navPrimaryMobile {
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  background-color: var(--bg);
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 15rem;
}

.navListItem a {
  text-decoration: none;
  padding: 16px;
  display: block;
}

.navListItem a:hover {
  background-color: var(--primaryLt);
}

.navList a:focus {
  background-color: var(--primaryLt);
  font-weight: bold;
}

@media (min-width: 40rem) {
  .navPrimary {
    width: 15rem;
  }
}

@media (min-width: 800px) {
  .navPrimary {

    margin-top: 16px;
    display: block;
  }

  .navPrimaryMobile {
    display: none;
  }
}