.CodeBlockContainer {
	position: relative;
	width: 90vw;
	max-width: 900px;
}

.CodeBlock {
	overflow-x: auto;
}

@media only screen and (min-width: 800px) {
	.CodeBlockContainer {
		width: 61vw;
	}
}

@media only screen and (min-width: 1000px) {
	.CodeBlockContainer {
		width: 70vw;
	}
}

