@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap");

:root,
:root.light {
	--text: #161e35;
	--invertText: #fff;
	--grey: #c7c7c7;
	--highlight: #def8f6;
	--primary: #028378;
	--primaryLt: #7ddfd7;
	--bg: #fff;
	--dark: #161e35;
	--borderRadius: 3px;
	--white: #fff;
}

:root.dark {
	--text: #fff;
	--invertText: #161e35;
	--grey: #c7c7c7;
	--highlight: #028378;
	--primary: #53fdee;
	--primaryLt: #028378;
	--bg: #161e35;
	--dark: #161e35;
	--borderRadius: 3px;
	--white: #fff;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: var(--text);
	background-color: var(--bg);
}

a {
	color: inherit;
}

* {
	box-sizing: border-box;
}

*:focus-visible {
	outline: 2px transparent solid;
	box-shadow: 0 0 0 2px #000, 0 0 0 4px #fff;
}

main {
	max-width: 1200px;
	flex-grow: 1;
	padding: 16px;
}

.active {
	border-left: 3px solid var(--primary);
	background-color: var(--highlight);
	font-weight: bold;
}

.center {
	display: grid;
	place-items: center;
}

[hidden] {
	display: none;
}
h1{
	font-size: 2.5em;
}
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem 0 0 0;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.1rem;
}

p {
	line-height: 1.5;
}

/*Classes used on multiple content pages*/

.pageLastUpdated {
	margin-top: 5rem;
	text-align: right;
}

.imageContainer {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.blockLink {
	display: block;
}

.list > li {
	margin-bottom: 0.7rem;
}


