:root,
:root.light {
	--text: #272727;
	--grey: #c7c7c7;
	--lightGrey: #eeeeee;
	--primary: #f02f7c;
	--primaryLt: #ffb0d0;
	--bg: #fff;
	--dark: #1c1c1c;
	--borderRadius: 3px;
	--white: #fff;
}

:root.dark {
	--text: #fff;
	--grey: #c7c7c7;
	--lightGrey: #3b3b3b;
	--primary: #f02f7c;
	--primaryLt: #f02f7c79;
	--bg: #272727;
	--dark: #1c1c1c;
	--borderRadius: 3px;
	--white: #fff;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: var(--text);
	background-color: var(--bg)
}

a {
	color: inherit;
}

* {
	box-sizing: border-box;
}

*:focus-visible {
	outline: 2px transparent solid;
	box-shadow: 0 0 0 2px #000, 0 0 0 4px #fff;
}

main {
	max-width: 1200px;
	flex-grow: 1;
	padding: 16px;
}

.active {
	border-left: 3px solid var(--primary);
	background-color: var(--lightGrey);
	font-weight: bold;
}

.center {
	display: grid;
	place-items: center;
}

[hidden] {
	display: none;
}

h2, h3, h4, h5, h6 {
	margin: 0;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.1rem;
}

/*Classes used on multiple content pages*/
.infoSection {
	margin-top: 2rem;
	width: 100%;
}

.pageLastUpdated {
	margin-top: 5rem;
	text-align: right;
}

.imageContainer {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.blockLink {
	display: block;
}

.exampleButton {
	padding: 0.6rem 1.2rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	background-color: var(--primaryLt);
	border: 1px solid var(--dark);
	border-radius: 5px;
	display: inline-block;
	margin: 0.5rem 0;
}

.exampleButton:hover, .exampleButton:focus {
	background-color: var(--primary);
	color: var(--white);
}

.exampleHover {
	padding: 0.6rem 1.2rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	background-color: var(--primary);
	color: var(--white);
	border: 1px solid var(--dark);
	border-radius: 5px;
	display: inline-block;
	margin: 0.5rem 0;
}

.exampleFocus {
	padding: 0.6rem 1.2rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	background-color: var(--primary);
	color: var(--white);
	border: 1px solid var(--dark);
	border-radius: 5px;
	display: inline-block;
	outline: 2px transparent solid;
	box-shadow: 0 0 0 2px #000, 0 0 0 4px #fff;
	margin: 0.5rem 0;
}

.exampleActive {
	position: relative;
	top: 2px;
	left: 1px;
	padding: 0.6rem 1.2rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	background-color: var(--primary);
	color: var(--white);
	border: 2px inset var(--primaryLt);
	border-radius: 5px;
	display: inline-block;
	
	margin: 0.5rem 0;
}