:root,
:root.light {
	--text: #272727;
	--grey: #c7c7c7;
	--lightGrey: #eeeeee;
	--primary: #f02f7c;
	--primaryLt: #ffb0d0;
	--bg: #fff;
	--dark: #000;
	--borderRadius: 3px;
}

:root.dark {
	--text: #fff;
	--grey: #c7c7c7;
	--lightGrey: #3b3b3b;
	--primary: #f02f7c;
	--primaryLt: #f02f7c79;
	--bg: #272727;
	--dark: #000;
	--borderRadius: 3px;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: var(--text);
	background-color: var(--bg)
}

a {
	color: inherit;
}

* {
	box-sizing: border-box;
}

main {
	max-width: 1200px;
	flex-grow: 1;
	padding: 16px;
}

.active {
	border-left: 3px solid var(--primary);
	background-color: var(--lightGrey);
	font-weight: bold;
}

[hidden] {
	display: none;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		color-scheme: light dark;
		--text: #fff;
		--grey: #c7c7c7;
		--lightGrey: #3b3b3b;
		--primary: #f02f7c;
		--primaryLt: #f02f7c79;
		--bg: #272727;
		--dark: #000;
		--borderRadius: 3px;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light dark;
		--text: #272727;
		--grey: #c7c7c7;
		--lightGrey: #eeeeee;
		--primary: #f02f7c;
		--primaryLt: #ffb0d0;
		--bg: #fff;
		--dark: #000;
		--borderRadius: 3px;
	}
} */